*{
    font-size: 25;
    float: center
}
h1{
    color:blanchedalmond;
    font-family: cursive
}
body{
    background-color: fuchsia
}
textarea{
    font-size: 1rem;
    font-family: fantasy ;
    color: darkslategray;
    background-color:burlywood;
}
button{
    background-color:darkred;
    color: aliceblue;
    font-style: italic;
}